<div class="widget-list-content">
  <div class="widget-img">
    <img src="../../assets/images/aksessuari-dlia-elektronyky.png" alt="image" class="photo">
  </div>
  <div class = "text">
    <p>Аксессуары для электроники</p>
    <ul>
      <li>Флеш память USB</li>
      <li>Хабы и кардридеры</li>
      <li>Аксессуары для ПК и ноутбуков</li>
      <li>Комплектующие для ноутбуков</li>
      <li>Сетевые фильтры, адаптеры и удлинители</li>
      <li>Чехлы для планшетов</li>
      <li>Сумки, рюкзаки и чехлы для ноутбуков</li>
      <li>Чистящие средства</li>
    </ul>
  </div>
</div>
