<div class="widget-list-content">
  <div class="widget-img">
    <img src="../../assets/images/setevoe-oborudovanie.png" alt="image" class="photo">
  </div>
  <div class = "text">
    <p>Сетевое оборудование</p>
    <ul>
      <li>Маршрутизаторы</li>
      <li>Коммутаторы</li>
      <li>Сетевые адаптеры</li>
      <li>Пассивное сетевое оборудование</li>
      <li>Беспроводные точки доступа</li>
      <li>Ретрансляторы Wi-Fi</li>
      <li>Патч-корды</li>
    </ul>
  </div>
</div>
