<div class="widget-list-content">
  <div class="widget-img">
    <img src="../../assets/images/kompyuternye-komplektuyushchie.png" alt="image" class="photo">
  </div>
  <div class = "text">
    <p>Компьютерные комплектующие</p>
    <ul>
      <li>SSD</li>
      <li>Системы охлаждения</li>
      <li>Видеокарты</li>
      <li>Оперативная память</li>
      <li>Процессоры</li>
      <li>Материнские платы</li>
      <li>Жесткие диски и дисковые массивы</li>
      <li>Блоки питания</li>
    </ul>
  </div>
</div>
