<div class="widget-list-content">
  <div class="widget-img">
    <img src="../../assets/images/naushniki-i-aksessuary.png" alt="image" class="photo">
  </div>
  <div class = "text">
    <p>Наушники и аксессуары</p>
    <ul>
      <li>Наушники</li>
      <li>TWS</li>
      <li>Игровые гарнитуры</li>
      <li>Вакуумные наушники</li>
      <li>Наушники вкладыши</li>
      <li>Накладные наушники</li>
      <li>Полноразмерные наушники</li>
      <li>Усилители для наушников</li>
      <li>Аксессуары для наушников</li>
    </ul>
  </div>
</div>
